{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card" style="width: 18rem;">
                <img src="static/test.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">item description </p>
                  <p class="card-text">price </p>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      0
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li> 
                      <li><a href="#">5</a></li>                 
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock %}