{% extends 'base1.html' %}


{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>show case</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">this is a button</a></p>
    </div>

    <ul class="nav nav-tabs" id="myTabs">
        <li class="active"><a href="#" >Temp</a></li>
        <li><a href="#">Temp</a></li>
        <li><a href="#">Temp</a></li>
        <li><a href="#">Temp</a></li>
        <li><a href="#">Temp</a></li>
        <li><a href="#">Temp</a></li>
        <li><a href="#">Temp</a></li>
    </ul>
    <br/>
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail" >
                <a href="BookInfo.html">
                    <img style="width: 100%; height: 200px; display: block;" alt="100%x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNDggMjAwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIG1lZXQiIHdpZHRoPSIzNDgiIGhlaWdodD0iMjAwIj48ZGVmcyAvPjxyZWN0IGZpbGw9IiNlZWVlZWUiIHdpZHRoPSIzNDgiIGhlaWdodD0iMjAwIiAvPjxnPjx0ZXh0IHN0eWxlPSJmb250LWZhbWlseTogQXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7IGZvbnQtc2l6ZTogMjJweDsgZm9udC13ZWlnaHQ6IGJvbGQ7IGRvbWluYW50LWJhc2VsaW5lOiBjZW50cmFsOyBmaWxsOiAjYWFhYWFhOyIgeD0iMTMxLjE2IiB5PSIxMDAiPjM0OHgyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-src="holder.js/100%x200" data-holder-rendered="true">
                </a>
                <div class="caption center">
                    <h3>Item Name</h3>
                    <p><span>Price:</span><span>999.00</span></p>
                    <p>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                    </p>
                    <p><a class="btn btn-primary btn-block" role="button" href="BookInfo.html">Add to cart</a></p>
                </div>
            </div>
        </div>
    </div>
    <br/>    
    <nav class="center">
        <ul class="pagination  pagination-lg">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">First Page</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">Last Page</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
{% endblock %}