{% extends 'base.html' %}
{% block loginstate %}
<li><a href="{% url 'login' %}">Login</a></li>
{% endblock %}

{% block content %}

  {% csrf_token %}
  <form method='post' action="{% url 'login' %}">
    <table>
        {% for field in form.visible_fields %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td >{{ field }}</td>
            </tr>
        {% endfor %}
    </table>
    {% csrf_token %}
    <button id="id_login_button" type="submit">Login</button>
    <a href="{% url 'register' %}">Register</a>
  </form>

{% endblock %}