{% extends 'base.html' %}


{% block content %}

  {% csrf_token %}
  <form method="post" action="{% url 'register' %}">
    <table>
        {% for field in form.visible_fields %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td >{{ field }}</td>
                <td class="errorlist">
                    {% for error in field.errors %} {{ error }} {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% csrf_token %}
    <button id="id_register_button" type="submit">注册</button>
  </form>

  {% endblock %}