{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">
      {% for item in goods %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              {% csrf_token %}
                <!-- 生成一个可点击的图片，链接至该商品的详情页面 -->
                <a href="{% url 'details' item.id %}">
                  <img src="{{MEDIA_URL}}{{item.goods_img}}" class="card-img-top" alt="..." width="200px" height="200px">
                </a>
                <div class="card-body">
                  <!-- 生成一段可点击的文字，链接至该商品的详情页 -->
                  <a href="{% url 'details' item.id %}">
                    <h5 class="card-title">{{item.goods_name}}</h5>
                  </a>
                  <p class="card-text">{{item.goods_desc}}</p>
                  <p class="card-text">Price: {{item.goods_price}}</p>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      0
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li> 
                      <li><a href="#">5</a></li>                 
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
              <br>
        </div>
        {% endfor %}  
    </div>
</div>

{% endblock %}