{% extends 'index.html' %}



{% block cart %}
<!---shopping cart-->
<li class="nav-item dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" > 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
        <span class="badge">{{cart_goods_count}}</span>
    </a>
    <ul style="width:300%" class="dropdown-menu cart-list">
        {% for cart_items in cart_goods_list %}
            <li>
                <span><a href="{% url 'details' cart_items.id %}"  class="photo"><img src="{{MEDIA_URL}}{{cart_items.goods_img}}" style="height:30%; width:30%" class="cart-thumb" alt="" /></a></span>
                <span style="height:150%; width:150%"><a href="{% url 'details' cart_items.id %}" >{{cart_items.goods_name}} </a></span>
                <span>{{cart_items.goods_num}}x  <span class="price">${{cart_items.goods_price}}</span></span>
            </li>
        {% endfor %}
        <li class="total">
            <span class="pull-right"><strong>Total</strong>: ${{cart_goods_money}}</span>
            <a href="{% url 'cart' %}" class="btn btn-default btn-cart">Cart</a>
        </li>
    </ul>
</li>
<!---shopping cart end-->
{% endblock %}


{% block content %}
<script>
    $(function(){
        $('#myTabs a').click(function (e) {
            $(this).tab('show')
        });
    })
    
</script>

<div class="container">
    <div class="jumbotron">
        <img src="https://github.com/HaoLuWork/MiniMallProject/blob/main/static/default.jpg?raw=true">     
        <p><a class="btn btn-primary btn-lg" href="http://shop.minimall.link/item/1" role="button">Check it out!</a></p>
    </div>

    <ul class="nav nav-tabs" id="myTabs">
        <li class="active"><a href="{% url 'home' %}" >All Items</a></li>
        {% for cag in categories %}
            <li class="active"><a href="{% url 'cag' cag.id %}" >{{cag.cag_name}}</a></li>
        {%  endfor %}
    </ul>
    
    <br/>
        <div class="row">
            {% for item in goods_list %}
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail" >
                    <a href="{% url 'details' item.id %}">
                        <img src="{{MEDIA_URL}}{{item.goods_img}}" style="height:200px; width:100%; display: block" >
                    </a>
                    <div class="caption center">
                        <h3>{{item.goods_name}}</h3>
                        <p><span>Price:</span><span>{{item.goods_price}}</span></p>
                        <p><a class="btn btn-primary btn-block" role="button" href="{% url 'add_cart' item.id 1%}">Add to cart</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <br/> 

    <!-- <nav class="center">
        <ul class="pagination  pagination-lg">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">First Page</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">Last Page</span>
                </a>
            </li>
        </ul>
    </nav> -->

</div>
{% endblock %}