{% extends 'index.html' %}


{% block cart %}
<!---shopping cart-->
<li class="nav-item dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" > 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
        <span class="badge">{{cart_goods_count}}</span>
    </a>
    <ul style="width:300%" class="dropdown-menu cart-list">
        {% for cart_items in cart_goods_list %}
            <li>
                <span><a href="{% url 'details' cart_items.id %}"  class="photo"><img src="{{MEDIA_URL}}{{cart_items.goods_img}}" style="height:30%; width:30%" class="cart-thumb" alt="" /></a></span>
                <span style="height:150%; width:150%"><a href="{% url 'details' cart_items.id %}" >{{cart_items.goods_name}} </a></span>
                <span>{{cart_items.goods_num}}x  <span class="price">${{cart_items.goods_price}}</span></span>
            </li>
        {% endfor %}
        <li class="total">
            <span class="pull-right"><strong>Total</strong>: ${{cart_goods_money}}</span>
            <a href="{% url 'cart' %}" class="btn btn-default btn-cart">Cart</a>
        </li>
    </ul>
</li>
<!---shopping cart end-->
{% endblock %}

{% block script %}
    <script language = "javascript">
        function item_count(){
            var a = document.getElementById("select").value;
            if(a==1){
                window.location.href= "{% url 'add_cart' item.id 1%}"
            }
            if(a==2){
                window.location.href= "{% url 'add_cart' item.id 2 %}"
            }
            if(a==3){
                window.location.href= "{% url 'add_cart' item.id 3 %}"
            }
            if(a==4){
                window.location.href= "{% url 'add_cart' item.id 4 %}"
            }
            if(a==5){
                window.location.href= "{% url 'add_cart' item.id 5 %}"
            }
        }
    </script>
{% endblock %}

{% block content %}
<div class="row thumbnail">
    <div class="col-sm-4">
            <img style="width: 100%; height: 100%; display: block;" src="{{MEDIA_URL}}{{item.goods_img}}"  >
            <div class="caption center">
                <h3>{{ item.goods_name }}</h3>
                <p>Price: {{item.goods_price}}</p>
                <p>
                    <select id="select" class="form-control">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                      </select>
                </p>
                <p>
                    <a type='submit' class="btn btn-primary btn-block" role="button" onclick=item_count() >Add to Cart</a> 
                    <a type='submit' class="btn btn-primary btn-block" role="button" href="">Buy now</a>
                    <!-- <button type='button' class="btn btn-default btn-block" role="button" onclick="print()">显示数字</button> -->
                </p>
            </div>
    </div>
    <div class="col-sm-8">
        <div class="caption">
                <h3>{{item.goods_desc}}</h3>             
            </div>

    </div>

</div>
{% endblock %}