{% extends 'index.html' %}


{% block content %}
<div class="container">
    <div class="row thumbnail center col-sm-12">
        <div class="col-sm-12">
            <h1 class="text-center" style="margin-bottom: 30px">Congratulations! your order is on the way！</h1>
        </div>
        <div class="col-sm-12 ">
           <table>
               <tr>
                   <th>id：</th><td>{{ orderinfo.order_id}}</td>
               </tr>              
               <tr>
                   <th>Name：</th>{{ orderinfo.order_recv }}<td></td>
               </tr>
               <tr>
                   <th>Address：</th><td>{{ orderinfo.order_addr }}</td>
               </tr>
               <tr>
                   <th>Tel：</th><td>{{ orderinfo.order_tele }}</td>
               </tr>
           </table>
        </div>
        <div class="col-sm-12">
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>price</th>
                    <th>number</th>
                    <th>total</th>
                </tr>
                {% for order_goods in order_goods_list %}
                    <tr>
                        <th><img src="{{MEDIA_URL}}{{order_goods.goods_info.goods_img}}" style="width:50px; height:50px"></th>
                        <th>{{order_goods.goods_info.goods_name}}</th>
                        <th>{{order_goods.goods_info.goods_price}}</th>
                        <th>{{order_goods.goods_num}}</th>
                        <th>{{order_goods.total_money}}</th>
                    </tr>
                {% endfor %}
                <tr></tr>
            </table>
        </div>

        <div class="col-sm-12 ">
            <table>
                <tr>
                 <th>Total Price：</th><td><span class="text-danger">{{total_money}}</span></label></td>
                </tr>
            </table>
        </div>
    </div>
    <div></div>
    <div class="col-sm-offset-7 col-sm-5" style="padding: 30px;">
        <div href="{% url 'home' %}" class="col-sm-6 btn btn-success btn-block">Back to Home</div>       
    </div>
</div>
{% endblock %}