{% extends 'index.html' %}


{% block content %}
<div class="container">
    <div class="row thumbnail center col-sm-12">
        <div class="col-sm-12">
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Number</th>
                    <th>Total</th>
                </tr>
                {% for item in cart_goods_list %}
                <tr>
                    <th><img src="{{MEDIA_URL}}{{item.goods_img}}" style="width:50px; height:50px"></th>
                    <th>{{item.goods_name}}</th>
                    <th>{{item.goods_price}}</th>
                    <th>{{item.goods_num}}</th>
                    <th>{{item.sum_price}}</th>
                </tr>
                {% endfor %}
                <tr></tr>
            </table>
        </div>
        <br/>
        <div class="col-sm-12 ">
            <table>
                <tr>
                 <th>Total Price：</th><td><span class="text-danger">123.0</span></label></td>
                </tr>
            </table>
        </div>
    </div>
    <div></div>
    <br/>
 <h3 class="common_title">{{user.username}}</h3>
 <form action="{% url 'submit_order' %}" method="post">
    {% csrf_token %}
    <div class="">
        <dl>
            <dd>
                <table>
                    <tr>
                        <td>Address：</td>
                        <td><input style="width:100%" type="text" name="addr" required></td>
                    </tr>
                    <tr>
                        <td>Name：</td>
                        <td><input style="width:100%" type="text" name="recv" required></td>
                    </tr>
                    <tr>
                        <td>Tel：</td>
                        <td><input style="width:100%" type="text" name="tele" required></td>
                    </tr>
                    <tr>
                        <td>Note：</td>
                        <td>
                            <textarea style="width:100%" name="extra"></textarea>
                        </td>
                    </tr>
                </table>
            </dd>
        </dl>
    </div>
    <div class="col-sm-offset-7 col-sm-5" style="padding: 30px;">
        <!-- <a href=""><div class="col-sm-6 btn btn-success btn-block">Submit</div></a>   -->
        <input type="submit" value="submit">
    </div>
    
 </form>


    
</div>


{% endblock %}